body {
  background-color: #001b2e;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin: 0px;
}
.links {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

* {
  color: #ffefd3;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.projects {
  margin: 10px;
  padding: 10px;
}

h3 {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

h2 {
  margin: 5px;
  padding: 10px;
  font-size: 20px;
}

hr.dashed {
  border-top: 3px dashed #bbb;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}
